---
Language: C
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
IndentCaseLabels: false
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignTrailingComments: true
AlignOperands: true
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
PointerAlignment: Right
SortIncludes: true
IncludeBlocks: Preserve
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
BinPackParameters: true
BinPackArguments: true
BreakBeforeBinaryOperators: None
...
